run = "npm start"
entrypoint = "index.js"

[env]
NODE_ENV = "production"

[nix]
channel = "stable-22_11"

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages.js]
pattern = "**/*.js"
syntax = "javascript"

[languages.js.languageServer]
start = [ "typescript-language-server", "--stdio" ]